<style>

    *{
        font-family: Monaco; 
    }
    .product-item{
        display: flex; align-items: center; justify-content: space-around; 
        list-style-type: none; border-style: solid; border-width: 1px; border-color: salmon; 
        border-radius: 20px; margin-top: 10px; width: 80%; background-color: #000'
    }
    .product-item-text{
        font-size: 11px;
    }

    h1 {
        margin: 10px; 
    }
    .cart-id{
       margin: 10px; 
       font-size: 14px;
       color:silver;
    }
    
</style>

<body>



    <h1>Cart</h1>
    <h5 class="cart-id">{{cartData._id}}</h5>
    <ul id="products-list" style="list-style-type: none; display: flex; flex-direction:column; justify-content: space-evenly; padding:15px;">
        {{#each cartData.products}}  
            <li class="product-item">
                <p class="product-item-text">{{this.pid}}</p>
                <img style="max-height: 5vh;" src={{ this.thumbnail }} alt={{ this.title }}>
                <p class="product-item-text">{{ this.title }}</p>
                <p class="product-item-text">Price: {{ this.price }}</p>
                <p class="product-item-text">Quantity: {{this.quantity}}</p>
            </li>
        {{/each}}
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="cart.js"></script>

</body>

                {{!-- <button onclick="addProductFromCart('{{this._id}}')"> + </button> 
                <button onclick="removeProductFromCart('{{this._id}}')"> - </button>  --}}
